@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(70, 142, 218);
    font: normal 15pt Arial;
    
}
header{
    text-align: center;
    color: white;
    padding: 10px;
}
section{
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.352);
    
}
p{
    padding: 10px;
}
#button{
    padding: 3px;
    width: 80px;

}
#button:hover{
    background-color: rgb(119, 197, 223);
    color: white;
}
#res{
    padding: 10px;
}
footer{
    text-align: center;
    color: white;
    font-style: italic;
    padding: 10px;
}